@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300&family=Comfortaa:wght@300&display=swap');

*{
    padding: 0%;
    margin: 0%;
    /* background:  rgba(0, 0, 0, 0.9);; */
}

h1{
    font-family: 'Alegreya Sans SC', sans-serif;
    font-family: 'Comfortaa', cursive;
    box-sizing: border-box;
    color: white;
    text-align: center;
}

#container{
    height: 100vh;
    width: 100%;
    background:  rgb(218 218 218 / 90%);
    display: flex;
    align-items: center;
    justify-content: center;
}

#login_form{
    background: #47759F;
    display: flex;
    flex-direction: column;
    padding: 42px 70px;
    border-radius: 30px;
    gap: 10px;
    box-shadow: 5px 5px 8px rgba(0,0,0,0.336);
    height: 375px;
    left: 427px;
    position: absolute;
}


#inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 50px;
   
}

#inputs input{
    width: 270px;
    height: 30px;
    padding: 1px 5px;
    border-radius: 8px;
    border: none;
    margin-bottom: 30px

}

#inputs label{
    font-family: 'Alegreya Sans SC', sans-serif;
    font-family: 'Comfortaa', cursive;
    color: white;
}

#forgot_password a{
    font-family: 'Alegreya Sans SC', sans-serif;
    font-family: 'Comfortaa', cursive;
    color: white;
    text-decoration: none;
    font-size: 17px;
    display: flex;
   text-align: center;
   justify-content: center;
}

#forgot_password a:hover {
    color: black;
    font-weight: bold;
    font-size: 18px;
}

#login_button{
    font-family: 'Comfortaa', cursive;
    border: none;
    background: black;
    color: white;
    padding: 14px;
    width: 170px;
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    right: -60px;
    position: relative;
    left: -1px;
    margin-top: 295px;

}

#login{
    justify-content: center;
    text-align: center;
    display: flex;
    font-size: 18px;
    color: white;
    font-family: 'Comfortaa', cursive;
    text-decoration: none;
    position: absolute;
    left: 613px;
    margin-top: 190px;
}

#login :hover{
    color: black;
}

#deslogar img{
    width: 30px;
    left: 30px;
}

#deslogar{
    position: absolute;
    left: 30px;
    margin-top: 443px;
}

.sobrenome{
margin-top: -19px;
}

.email{
margin-top: -19px;
}

.senha{
    margin-top: -19px;

}

.tipo_imovel{
    margin-top: -19px;

}

.design{
    margin-top: -12px;

}

#tipo_imovel{
    position: relative;
    height: 30px;
    width: 277px;
    margin-top: 3px;
    right: 1px;
    border-radius: 8px;
    
    }

    .imovel{
        margin-top: -23px;
    }

    #tipo_design{
        position: relative;
        height: 30px;
        width: 277px;
        margin-top: 3px;
        right: 1px;
        border-radius: 8px;
        
        }
    
        .design{
            margin-top: 7px;
        }
