@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300&family=Comfortaa:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }
  
  body{
    overflow-x: hidden;

  }

  #voltar{
    width: 54px;
    position: absolute;
    margin-top: 123px;
    left: 83px;
    height: 50px;
  }
  
  .navbar {
      margin: 0%;
      margin-top: 0%;
      display: flex;
      height: 85px;
      width: 1920px;
      position: absolute;
      background: #47759F;
      flex: none;
      order: 0;
      flex-grow: 0;
    }
    
    .logoinspra {
      position: absolute;
      width: 420px;
      height: 72px;
      left: 23px;
      top: 6px;
    }



h1{
    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
    margin-top: 109px;
    left: 473px;
    position: absolute;

}

p{
    text-align: center;
    font-family: 'Alegreya Sans SC';
    font-weight: bold;
    margin-top: 169px;
    left: 596px;
    position: absolute;

}

#grade{
    display: flex;
    flex-wrap: wrap;
    width: 520px;
   margin-left: 30px;
    margin: auto;
}

img{
    width: 162px;
    height: 215px;
}

img#\30{
    display: flex;
    position: absolute;
    left: 130px;
    margin-top:175px;
}


img#\31{
    display: flex;
    position: absolute;
    left: 300px;
    margin-top:175px;
}

img#\32{
    display: flex;
    position: absolute;
    left: 469px;
    margin-top:175px;
}

img#\33{
    display: flex;
    position: absolute;
    left: 640px;
    margin-top:175px;
}

img#\34{
    display: flex;
    position: absolute;
    left: 810px;
    margin-top:175px;
}

img#\35{
    display: flex;
    position: absolute;
    left: 979px;
    margin-top:175px;
}

img#\36{
    display: flex;
    position: absolute;
    left: 130px;
    margin-top: 400px;
}

img#\37{
    display: flex;
    position: absolute;
    left: 300px;
    margin-top: 400px;
}

img#\38{
    display: flex;
    position: absolute;
    left: 469px;
    margin-top: 400px;
}

img#\39{
    display: flex;
    position: absolute;
    left: 640px;
    margin-top: 400px;
}

img#\31 0{
    display: flex;
    position: absolute;
    left: 810px;
    margin-top: 400px;
}

img#\31 1{
    display: flex;
    position: absolute;
    left: 979px;
    margin-top: 400px;
}

#footer{
    position: absolute;
    width: 1390px;
    height: 95px;
    left: -103px;
    background: #47759F;
    margin-top: 752px;

  }
  
  #logofooter{
    position: absolute;
    width: 319px;
    height: 52px;
    left: 150px;
    margin-top: 28px;
  }
  
  #direitos{
    font-size: 20px;
    margin-top: 36px;
    position: absolute;
    left: 601px;
  }
  
  #f{
    display: flex;
    position: absolute;
    margin-top: 28px;
    left: 1165px;
    gap: 14px;
  }
  
  #f1{
    width: 35px;
    height: 35px;
  }
  
  #f2{
    width: 35px;
    height: 35px;

  }
  
  #f3{
    width: 35px;
    height: 35px;

  }